body {
  background-color: indigo;
  font-family: Bebas;
}

h1 {
  color: goldenrod;
  font-size: 3rem;
}

nav {
  color: black;
}

.link-style {
  color: black;
  font-size: 2rem;
}

.link-style:hover {
  color: goldenrod;
}
