/* GRID STLYING */
.container {
    display: grid; 
    grid-template-areas:"nav nav nav nav"
                        "main main main main"
                        "container container container container" 
                        "foot foot foot foot";
    gap: 1rem; 
    max-width: 700px;
    margin: auto;
    margin-top: 4rem;
    grid-template-columns: repeat(5,1fr);
}
.content {
    grid-area: main;
    background-color:rgb(182, 135, 135);
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
    grid-area: container;
    background-color:rgb(182, 135, 135);;
}
.footer {
    grid-area: foot;
    background-color:rgb(182, 135, 135);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    display: float;
    background-color: rgb(182, 135, 135);
    }
 /* FLEX STLYING */
.nav-container, .name {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    place-content: space-between space-evenly;
    grid-area: nav; 
    background-color: rgb(182, 135, 135);
    font-size: x-large;
    margin-top: 1rem;
    color: rgb(44, 34, 34);
}   
/* HEADER STYLING */
.header {
    grid-area: head;
    background-color:rgb(182, 135, 135);
    color: rgb(182, 135, 135);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 1400px;
    margin: auto;
    padding: 0; 
}
/* OTHER STYLING */
.line {
    width: 100%;
    height: 4px;
    margin: auto;
    background-color: rgb(73, 64, 64);
    padding: 0;
}
.name, h1 {
    display: flex;
    justify-content:space-between;
    align-items:center; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin: 0; 
    margin-bottom: 0.7rem;
}

#home-footer {
position: absolute;
bottom: 0;
width: 100%; 
height: 2.5rem;

}

