/* GRID STLYING */
.container {
    display: grid; 
    grid-template-areas:"nav nav nav nav"
                        "main main main main"
                        "container container container container" 
                        "foot foot foot foot";
    gap: 1rem; 
    max-width: 700px;
    margin: auto;
    margin-top: 4rem;
    grid-template-columns: repeat(5,1fr);
}

/* FLEX STLYING */
.nav-container, .name {
    display: flex;
    place-content: space-between space-evenly;
    grid-area: nav; 
    background-color: rgb(182, 135, 135);
    font-size: large;
    margin-top: 1rem;
    color: rgb(117, 45, 45);
}
.content {
    grid-area: main;
    background-color:rgb(182, 135, 135);
}
.container {
    grid-area: container;
    background-color:rgb(182, 135, 135);;
}
.footer {
    grid-area: foot;
    background-color:rgb(182, 135, 135);
    font-family: "Cormorant Garamond", serif;
    font-size: 15px;
    display: float;
    background-color: rgb(182, 135, 135);
    }

/* HEADER STYLING */
.header {
    grid-area: head;
    background-color:rgb(182, 135, 135);
    color: rgb(182, 135, 135);
    font-family: sans-serif;
    max-width: 1400px;
    margin: auto;
    padding: 0; 
}

.line {
    width: 100%;
    height: 4px;
    background-color: rgb(44, 37, 37);
}

.name, h1 {
    display: flex;
    justify-content:space-between;
    align-items:center; 
}

.name h1{
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin: 0; 
    margin-bottom: 0.7rem;
}
/* #portrait {
    grid-area: portrait;
    max-width: 450px;
    padding-bottom: 10rem;
} */
