@import "../styleconstants.css";

#about-box {
    text-align: center;
    background: var(--clr-white) ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 10px;
    max-width: 50%;
}