header,footer{
    background-color: rgb(211, 180, 211);
    border: 8px solid rgb(207, 126, 207);}
body {background-color: plum;
    min-height: 100vh;
    width: 150vh;
    padding: 0px;
    margin: 100px;
}


.page-title{
    background-color: rgb(222, 181, 222);
    font-size: 2rem;
    color:ivory;
    text-align: center;
}

.page-footer{
    color: ivory;
    text-align: left;
    font: 6px;
}

.container-for-content{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.about-me-image{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: left;
    justify-content:space-evenly;
    align-content: space-around;
    
}
.about-me-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: right;
    justify-content: space-evenly;
    max-width: 500px;
    font-style: times new roman;
}

.nav-bar{
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.img_class{
    object-fit: contain;
    /* border: 3px solid ivory; */
    align-content: left;
    justify-content: space-around;
    
}

/* .listed-item{
    font: didot;
    font-size: 20pt;
    justify-content: space-evenly;
    font-weight: bold;
} */
