body {
  background-color:  #c2f1ff;
  
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

h1, #pinkBackground{
  text-align: center;
  background: #ffc2cc;
  color: white;
  font-size: 50px;
  font-family: "Lucida Handwriting", "Courier New";
  padding: 50px;
}