body {
    font-family: fantasy;
    background-color: rgb(131, 218, 131);
}

h1, .page-title {
    text-decoration: underline;
    text-align: center;
}

p {
    
    line-height: 150%;
    color: darkslategrey;
}


li {
    list-style-type: circle;
}
